In [10]:
import pandas as pd

df = pd.read_feather("../processed_data/us_stock_data_2024.feather")
df

df.columns

Index(['Date', 'StockID', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Vol',
       'Ret', 'log_ret', 'cum_log_ret', 'EWMA_vol', 'Ret_week', 'Ret_month',
       'Ret_quarter', 'Ret_year', 'Ret_5d', 'Ret_20d', 'Ret_60d', 'Ret_65d',
       'Ret_180d', 'Ret_250d', 'Ret_260d'],
      dtype='object')

In [12]:
import pandas as pd

df = pd.read_feather("../processed_data/us_stock_data_2001-01-01_2024-09-01.feather")
df.columns

Index(['Date', 'StockID', 'Open', 'High', 'Low', 'Close', 'Adj Close', 'Vol',
       'Ret', 'log_ret', 'cum_log_ret', 'EWMA_vol', 'Return', 'Ret_week',
       'Ret_month', 'Ret_quarter', 'Ret_year', 'Ret_5d', 'Ret_20d', 'Ret_60d',
       'Ret_65d', 'Ret_180d', 'Ret_250d', 'Ret_260d'],
      dtype='object')

In [13]:
df.head(5)

,Date,StockID,Open,High,Low,Close,Adj Close,Vol,Ret,log_ret,...,Ret_month,Ret_quarter,Ret_year,Ret_5d,Ret_20d,Ret_60d,Ret_65d,Ret_180d,Ret_250d,Ret_260d
0,2001-01-02,A,38.537197,38.537197,35.094776,36.391273,30.759737,2261684.0,-2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
1,2001-01-02,AAL,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.0,-2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
2,2001-01-02,AAP,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.0,-2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
3,2001-01-02,AAPL,0.265625,0.272321,0.260045,0.265625,0.224314,452312000.0,-2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN
4,2001-01-02,ABBV,-2.000000,-2.000000,-2.000000,-2.000000,-2.000000,-2.0,-2.0,NaN,...,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN,NaN